


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgba(128, 128, 128, 0.094);

}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

p {
  line-height: 30px;

  font-weight: 300;
}

h4 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;

}

a {
  color: #5867dd;
  text-decoration: none;
}

.footer-big {
  padding: 105px 0 0 0;
}

.footer-big .footer-widget {
  margin-bottom: 40px;
}

.footer--light {
  background: #001441;
}

.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
  color: black;
}


.footer-menu {
  padding-left: 48px;
}

.footer-menu ul li a {
  line-height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-menu ul li a:hover {
  color: red;
}

.footer-widget-title {
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.mini-footer {
  background: #000041;
  text-align: center;
  padding: 32px 0;
}

.mini-footer p {
  margin: 0;
  line-height: 26px;
  color: #999;
}

.mini-footer p a {
  color: #ce1a19;
  font-weight: 500;
}

.mini-footer p a:hover {
  color: #34bfa3;
}


.widget-about img {
  display: block;
  margin-bottom: 30px;
  max-width: 70%;
}

.widget-about p {
  font-weight: 400;
}

.widget-about .contact-details {
  margin: 30px 0 0 0;
}

.widget-about .contact-details li {
  margin-bottom: 10px;
}

.widget-about .contact-details li:last-child {
  margin-bottom: 0;
}

.widget-about .contact-details li i {
  padding-right: 10px;
  color: #333;
}

.widget-about .contact-details li a {
  color: #5867dd;
}


@media (max-width: 991px) {
  .footer-menu {
    padding-left: 0;
  }
  .widget-about img {
    max-width: 50%;
  }
}


